#topcontainer{
  
    display: flex;
  }

#mainText{
  margin-left: 150px;
  margin-top: 100px;
  display: block;
 
  height: 250px;
}

#mainText h1{
  margin: 40px;
    font-size: 40px;
}


  #topcontainer {
    
    margin: 10px;
    
  }
  
  #title{
   
    margin: 10px;
    margin-right: 550px;
    white-space: nowrap;
  }
  

  #menu-container{
    white-space: nowrap;
    
    margin: 10px;
    display: flex;
  }
  
  #menu-container div{
   
    margin-right: 20px;
  }
  
  #menu-container div h1{
    margin-top: 3
    
    0px;
    font-size: 25px;
   }
  
   #menu-container div button{
    margin-top: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
   }
   #middlecontainer{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
   }
  
  
 
  
   #login{
    margin-top: -40px;
    margin-left: 200px;
    background-color: gray;
    width: 800px;
    height: 570px;
   }
  
   #loginTab{
    display: flex;
   }
  
   #loginMenu{
   
    height: 80px;
    width: 400px;
   }
  
   #loginJoin{
    
    height: 80px;
    width: 400px;
   }
  
   #loginJoin h1{
    text-align: center;
    font-size: 40px;
    padding-right: 30px;
    padding-top: 5px;
   }
  
   #loginMenu h1{
    text-align: center;
    font-size: 40px;
    padding-right: 30px;
    padding-top: 5px;
   }
   #email{
    text-align: center;
   }
   #emailTitle{
    margin-left: 10px;
    text-align: justify;
    margin-top: 50px;
   }
   #emailTitle h1{
    font-size: 30px;
   }
   #emailText{
    width: 700px;
    height: 60px;
   }
   #password{
    margin-top: 50px;
    text-align: center;
   
   }
   #paswordMenu{
    display: flex;
   }
   #passwordTitle{
    margin-left: 10px;
   }
   #passwordTitle h1{
    font-size: 30px;
   }
   #passwordReset{
    margin-top: 20px;
    margin-left: 400px;
   }
   #passwordReset h1{
    color: blue;
    font-size: 15px;
   }
   #passwordText{
    width: 700px;
    height: 60px;
   }
   #loginButton{
    text-align: center;
   }
   #loginButton button{
    background-color: blue;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    width: 600px;
    height: 60px;
   }
   
  
  
  
  